<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta content="text/html;charset=UTF-8"/>

</head>
<body>

<div class="container">
    <div class="starter-template">
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- 用户类型为ROLE_ADMIN 显示 -->
            admin 用户可见
        </div>
        <div sec:authorize="hasRole('ROLE_FINANCE')">
            <!-- 用户类型为 role_finance 显示 -->
            财务人员可见
        </div>
        <div sec:authorize="hasRole('ROLE_SALES')">
            <!-- 用户类型为 role_finance 显示 -->
            销售人员可见
        </div>
        <form action="/logout" method="post">
            <input type="submit"  value="注销"/>
        </form>
    </div>
</div>
</body>
</html>
